In [ ]:
import re, os
import pandas as pd
from google.colab import drive

In [ ]:
drive.mount('/content/drive')
os.chdir('/content/drive/My Drive')

Mounted at /content/drive

In [ ]:
os.chdir('./joker_disc_bot')

In [ ]:
pattern = r'(^[a-zA-z]+):(.+)'

In [ ]:
data = {
    'name': [],
    'line': [],
}

In [ ]:
with open('darknight_transcript.txt') as f:
    for line in f.readlines():
        match = re.findall(pattern, line)
        if match:
            name, line = match[0]
            data['name'].append(name)
            data['line'].append(line)

In [ ]:
df = pd.DataFrame(data)
df.head()

       name                                               line
0    Grumpy    (while driving) Three of a kind, let's do this.
1  Chuckles                             That's it? Three guys?
2    Grumpy   Two guys on the roof. Every guy gets a share....
3  Chuckles   Six shares. Don't forget the guy who planned ...
4    Grumpy   (scoffing) He thinks he can sit it out and st...

In [ ]:
sum(df['name'] == 'Joker')

145

In [ ]:
df.to_csv('joker.csv', index=False)